* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div,
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Ubuntu";
}

body,
html,
h1,
h2 {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 16px;
  line-height: 25px;
}

body.no-scroll {
  overflow: hidden;
}

h2 {
  font-family: "Ubuntu";
  font-size: 40px;
  line-height: 40px;
}

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 50px;
    line-height: 50px;
  }
}

.page-wrapper {
  width: calc(100% - 30px);
  padding-top: 70px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .page-wrapper {
    width: 100%;
  }
}

.link {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .link:after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #1d1f48;
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
  }
}

.link:hover:after {
  width: 100%;
}

.spacer-sm {
  width: 100%;
  height: 40px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
          box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
  background: #ffffff;
  z-index: 10;
}

.header-container {
  width: 100%;
  max-width: 1180px;
  height: 70px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .menu-icon {
  width: 30px;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  cursor: pointer;
}

.header-container .menu-icon .menu-line {
  width: 100%;
  height: 4px;
  margin: 4px 0;
  background: #000000;
}

@media only screen and (min-width: 992px) {
  .header-container .menu-icon {
    display: none;
  }
}

.header-container .logo {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .logo img {
  max-height: 40px;
}

.header-container .nav-menu {
  width: 100vw;
  height: 100vh;
  padding-top: 70px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  overflow: auto;
}

.header-container .nav-menu .close-menu {
  padding-right: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu .close-menu {
    display: none;
  }
}

.header-container .nav-menu .menu-item {
  padding: 15px;
  cursor: pointer;
}

.header-container .nav-menu .menu-item.menu-button {
  padding: 30px;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: #1d1f48;
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu .menu-item.menu-button {
    height: 100%;
    margin-top: 0;
  }
}

.header-container .nav-menu .menu-item:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu .menu-item {
    padding: 0;
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu {
    width: auto;
    height: 100%;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    overflow: visible;
  }
}

.header-container .dropdown-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  font-weight: 700;
}

.header-container .dropdown-link:hover .dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 992px) {
  .header-container .dropdown-link {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-container .dropdown-container {
  min-width: 200px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #ffffff;
}

.header-container .dropdown-container .menu-item:first-child {
  padding-top: 30px;
}

@media only screen and (min-width: 992px) {
  .header-container .dropdown-container .menu-item {
    margin: 15px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .header-container .dropdown-container {
    display: none;
    position: absolute;
    top: 70px;
    left: -30px;
  }
}

@media only screen and (min-width: 992px) {
  .header-container {
    padding: 0;
  }
}

.banner {
  width: 100%;
}

.banner .banner-wrapper {
  width: 100%;
  min-height: 400px;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .banner .banner-wrapper.page {
    min-height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .banner .banner-wrapper {
    min-height: 600px;
  }
}

.banner .headings {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .headings h1,
.banner .headings h2 {
  margin: 0;
  text-align: center;
}

.banner .headings h1 {
  font-family: "Zen Dots";
  font-size: 48px;
  line-height: 48px;
}

.banner .headings h1.number {
  color: #000000;
}

.banner .headings h1.versus {
  color: #0d8537;
}

@media only screen and (min-width: 992px) {
  .banner .headings h1 {
    font-size: 83px;
    line-height: 83px;
  }
}

.banner .headings h2 {
  padding-bottom: 15px;
  font-weight: 700;
  color: #ffffff;
}

.banner .headings h2.number {
  color: #000000;
}

.banner .headings h2.versus {
  color: #0d8537;
}

.banner .image {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: calc(50% - 50vw);
  z-index: -1;
}

.banner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-wrapper {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.row-wrapper.cards {
  max-width: none;
}

.usps {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.usps .usp {
  min-width: calc((100% - 30px) / 3);
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
          box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
  background: rgba(13, 133, 55, 0.7);
}

.usps .usp h3 {
  margin: 0;
}

.usps .usp:last-child {
  margin-right: 0;
}

.usps .usp-icon {
  margin-right: 10px;
}

.cards-wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.cards-wrapper .slider-control {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.cards-wrapper .slider-control .slider-dots {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.cards-wrapper .slider-control .slider-dots .dot {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 5px;
  background: #d8d8d8;
  cursor: pointer;
}

.cards-wrapper .slider-control .slider-dots .dot.active {
  background: #1d1f48;
}

.cards-wrapper .slider-control .slider-arrows {
  pointer-events: none;
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow {
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1d1f48;
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow.slider-arrow-left {
  margin-right: 15px;
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow.slider-arrow-left .icon-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow.inactive {
  opacity: 0.8;
  pointer-events: none;
}

.cards-wrapper .slider-control .slider-arrows .icon-arrow {
  width: 20px;
  height: 20px;
}

.cards-container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.cards-container .card {
  min-width: 100%;
  margin-right: 15px;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .cards-container .card:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #d4d6df;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.cards-container .card:hover:before {
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
}

@media only screen and (min-width: 992px) {
  .cards-container .card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media only screen and (min-width: 992px) {
  .cards-container .card {
    min-width: calc((100% - 30px) / 3);
  }
}

.cards-container .card-image {
  width: 100%;
  position: relative;
}

.cards-container .card-image img {
  width: 100%;
}

.cards-container .card-image .logo-in-card {
  width: auto;
  height: 35px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .cards-container .card-image {
    height: 255px;
  }
}

.cards-container .card-body {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #eef1f6;
}

.cards-container .card-body .card-title {
  font-size: 30px;
  line-height: 30px;
}

.cards-container .card-body .link {
  margin-top: auto;
  font-size: 18px;
}

.info-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #ffffff;
}

.info-wrapper .versus-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.info-wrapper .title-wrapper {
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-wrapper .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.info-wrapper .row .image img {
  width: 100%;
  border-radius: 5px;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row .image {
    width: 50%;
  }
}

.info-wrapper .row .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.info-wrapper .row .info h3 {
  padding: 0 30px;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row .info {
    width: 50%;
  }
}

.info-wrapper .row .info:first-child .unordered-list {
  padding-right: 30px;
}

.info-wrapper .row .list-title,
.info-wrapper .row .intro {
  padding-bottom: 30px;
  padding-left: 30px;
}

.info-wrapper .row .unordered-list {
  padding-left: 30px;
  list-style-type: none;
}

.info-wrapper .row .unordered-list .list-item {
  padding-bottom: 10px;
}

.info-wrapper .row .unordered-list .list-item .usp-icon {
  margin-right: 10px;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

@media only screen and (min-width: 992px) {
  .info-wrapper {
    padding-top: 30px;
    margin-top: -120px;
    border-radius: 50px;
  }
}

.banner-with-form {
  margin-bottom: 55px;
  position: relative;
}

.banner-with-form .banner-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner-with-form .banner-wrapper .headings {
  position: absolute;
  top: 0;
}

@media only screen and (min-width: 992px) {
  .banner-with-form .banner-wrapper {
    min-height: 400px;
  }
}

.form-container {
  width: auto;
  margin: 0 auto;
}

.form-container {
  min-width: 500px;
  max-height: 110px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 5px;
  background: #eef1f6;
  overflow: hidden;
  -webkit-transform: translateY(55px);
          transform: translateY(55px);
  z-index: 1;
}

.form-container .submit-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.form-container .form-input {
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.form-container .form-input .input {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  border: 2px solid #d4d6df;
  border-radius: 0;
  font-size: 16px;
}

.form-container .form-input .input:hover, .form-container .form-input .input:active, .form-container .form-input .input:focus, .form-container .form-input .input:focus-visible {
  border: 2px solid #1d1f48;
  border-radius: 0;
  outline: 0;
}

.form-container .form-input .radio-button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-input .radio-button input {
  margin-right: 15px;
}

.form-container .radio-label {
  padding-bottom: 10px;
}

.form-container .team-name-input {
  display: none;
}

.form-container .submit-button {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background: #1d1f48;
  cursor: pointer;
}

footer {
  width: 100%;
  min-height: 70px;
  padding: 30px 0;
  background: #d4d6df;
}

footer .footer-container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container img {
  max-width: 100%;
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  footer .footer-container img {
    margin-bottom: 0;
  }
}

footer .footer-container .footer-menu-items {
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (min-width: 992px) {
  footer .footer-container .footer-menu-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

footer .footer-container .menu-item {
  margin: 15px;
}

@media only screen and (min-width: 992px) {
  footer .footer-container .menu-item {
    margin: 30px 15px;
  }
}
/*# sourceMappingURL=style.css.map */