* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div,
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Ubuntu";
}

body,
html,
h1,
h2 {
  padding: 0;
  margin: 0;
  border: 0;
}

.page-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.header-container {
  width: 100%;
  max-width: 1180px;
  height: 70px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .menu-icon {
  width: 30px;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  cursor: pointer;
}

.header-container .menu-icon .menu-line {
  width: 100%;
  height: 4px;
  margin: 4px 0;
  background: #000000;
}

@media only screen and (min-width: 992px) {
  .header-container .menu-icon {
    display: none;
  }
}

.header-container .logo {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .logo img {
  max-height: 40px;
}

.header-container .nav-menu .menu-item {
  display: none;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu .menu-item {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.banner {
  width: 100%;
}

.banner .banner-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .banner .banner-wrapper {
    height: 600px;
  }
}

.banner .headings {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .headings h1,
.banner .headings h2 {
  margin: 0;
  text-align: center;
}

.banner .headings h1 {
  font-family: "Zen Dots";
  font-size: 48px;
}

.banner .headings h1.number {
  color: #000000;
}

.banner .headings h1.versus {
  color: #0d8537;
}

@media only screen and (min-width: 992px) {
  .banner .headings h1 {
    font-size: 83px;
  }
}

.banner .headings h2 {
  font-family: "Ubuntu";
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.banner .image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.banner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-wrapper {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.cards-container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-container .card {
  width: 100%;
  margin: 30px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
          box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .cards-container .card {
    width: calc((100% - 60px) / 3);
  }
}

.cards-container .card-image {
  width: 100%;
}

.cards-container .card-image img {
  width: 100%;
}

.cards-container .card-body {
  padding: 30px;
  background: #eef1f6;
}
/*# sourceMappingURL=style.css.map */