@font-face {
  src: url("GorillasSansDisplay-Bold.eot");
  src: url("GorillasSansDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("GorillasSansDisplay-Bold.svg#GorillasSansDisplay-Bold") format("svg"), url("GorillasSansDisplay-Bold.ttf") format("truetype"), url("GorillasSansDisplay-Bold.woff") format("woff"), url("GorillasSansDisplay-Bold.woff2") format("woff2");
  font-family: "GorillasSansDisplay-Bold";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("DrukText-Super.eot");
  src: url("DrukText-Super.eot?#iefix") format("embedded-opentype"), url("DrukText-Super.svg#DrukText-Super") format("svg"), url("DrukText-Super.ttf") format("truetype"), url("DrukText-Super.woff") format("woff"), url("DrukText-Super.woff2") format("woff2");
  font-family: "DrukText-Super";
  font-style: normal;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div,
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Ubuntu";
}

body,
html,
h1,
h2 {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 16px;
  line-height: 25px;
}

body.no-scroll {
  overflow: hidden;
}

h2 {
  font-family: "Ubuntu";
  font-size: 40px;
  line-height: 40px;
}

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 50px;
    line-height: 50px;
  }
}

.page-wrapper {
  width: calc(100% - 30px);
  padding-top: 70px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media only screen and (min-width: 992px) {
  .page-wrapper {
    width: 100%;
    overflow: hidden;
  }
}

.link {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .link:after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #1d1f48;
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
  }
}

.link:hover:after {
  width: 100%;
}

.spacer-sm {
  width: 100%;
  height: 40px;
}

.spacer-sm.desktop {
  display: none;
}

@media only screen and (min-width: 992px) {
  .spacer-sm.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px #ffffff solid;
  -webkit-box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
          box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
  background: #e30d13;
  z-index: 10;
}

header.header-sm {
  border-bottom: 2px #e30d13 solid;
  background: #ffffff;
}

header.header-sm .nav-menu {
  background: #ffffff;
}

header.header-sm .nav-menu .menu-item {
  color: #000000;
}

header.header-sm .nav-menu .menu-item:after {
  background: #000000;
}

header.header-sm .dropdown-container {
  background: #ffffff;
}

header.header-sm .menu-icon .menu-line {
  background: #000000;
}

.header-container {
  width: 100%;
  max-width: 1180px;
  height: 70px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .menu-icon {
  width: 30px;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  cursor: pointer;
  z-index: 1;
}

.header-container .menu-icon .menu-line {
  width: 100%;
  height: 4px;
  margin: 3px 0;
  background: #ffffff;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-container .menu-icon.clicked .one {
  -webkit-transform: translateY(4px) rotate(135deg);
          transform: translateY(4px) rotate(135deg);
}

.header-container .menu-icon.clicked .two {
  -webkit-transform: translate(100vw);
          transform: translate(100vw);
}

.header-container .menu-icon.clicked .three {
  -webkit-transform: translateY(-16px) rotate(-135deg);
          transform: translateY(-16px) rotate(-135deg);
}

@media only screen and (min-width: 992px) {
  .header-container .menu-icon {
    display: none;
  }
}

.header-container .logo {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header-container .logo:before {
  content: '';
  width: 83px;
  height: 70px;
  position: absolute;
  bottom: 50%;
  left: 0;
  background-image: url("7V7-logo-haarlem.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  z-index: -1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header-sm .header-container .logo:before {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.header-sm .header-container .logo img {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.header-container .logo img {
  max-height: 70px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header-container .nav-menu {
  width: 100vw;
  height: 100vh;
  padding-top: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background: #e30d13;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-container .nav-menu .menu-item {
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
}

.header-container .nav-menu .menu-item.menu-button {
  width: 100%;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background: #1d1f48;
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu .menu-item.menu-button {
    width: auto;
    height: 100%;
  }
}

.header-container .nav-menu .menu-item:after {
  background: #ffffff;
}

.header-container .nav-menu .menu-item:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu .menu-item {
    padding: 0;
    margin: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .header-container .nav-menu {
    width: auto;
    height: 100%;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    overflow: visible;
  }
}

.header-container .dropdown-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  font-weight: 700;
}

.header-container .dropdown-link:hover .dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 992px) {
  .header-container .dropdown-link {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-container .dropdown-container {
  min-width: 200px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #e30d13;
}

.header-container .dropdown-container .menu-item:first-child {
  padding-top: 30px;
}

@media only screen and (min-width: 992px) {
  .header-container .dropdown-container .menu-item {
    margin: 15px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .header-container .dropdown-container {
    display: none;
    position: absolute;
    top: 70px;
    left: -30px;
  }
}

@media only screen and (min-width: 992px) {
  .header-container {
    padding: 0;
  }
}

.banner {
  width: 100%;
}

.banner .banner-wrapper {
  width: 100%;
  min-height: 400px;
  position: relative;
}

.banner .banner-wrapper.sm {
  min-height: 250px;
}

@media only screen and (min-width: 992px) {
  .banner .banner-wrapper.sm {
    min-height: 600px;
  }
}

.banner .banner-wrapper.page .headings h1,
.banner .banner-wrapper.page .headings h2 {
  color: #ffffff;
}

@media only screen and (min-width: 992px) {
  .banner .banner-wrapper.page {
    min-height: 400px;
  }
}

.banner .banner-wrapper.player {
  background: #d4d6df;
  z-index: -2;
}

.banner .banner-wrapper.player h1,
.banner .banner-wrapper.player .seven-wrapper h2 {
  color: #1d1f48;
}

.banner .banner-wrapper.player .headings {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (min-width: 992px) {
  .banner .banner-wrapper.player .headings {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.banner .banner-wrapper.player .image {
  width: 33vw;
}

@media only screen and (min-width: 992px) {
  .banner .banner-wrapper {
    min-height: 600px;
  }
}

.banner .headings {
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner .headings .seven-wrapper {
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.banner .headings h1,
.banner .headings h2 {
  margin: 0;
  text-align: center;
}

.banner .headings h1 {
  font-family: "GorillasSansDisplay-Bold";
  font-size: 48px;
  line-height: 48px;
}

.banner .headings h1.number {
  color: #1d1f48;
}

.banner .headings h1.versus {
  color: #1d1f48;
}

@media only screen and (min-width: 992px) {
  .banner .headings h1 {
    font-size: 83px;
    line-height: 83px;
  }
}

.banner .headings h2 {
  padding-bottom: 15px;
  font-family: "DrukText-Super";
  font-weight: 700;
  color: #1d1f48;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.banner .headings h2.number {
  color: #ffffff;
}

.banner .headings h2.versus {
  color: #ffffff;
}

@media only screen and (min-width: 992px) {
  .banner .headings h2 {
    letter-spacing: 6px;
  }
}

@media only screen and (min-width: 992px) {
  .banner .headings {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.banner .image {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: calc(50% - 50vw);
  z-index: -1;
}

.banner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-wrapper {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.row-wrapper.cards {
  max-width: none;
}

.usps {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.usps .usp {
  min-width: calc((100% - 30px) / 3);
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
          box-shadow: 0 4px 15px rgba(43, 126, 179, 0.2);
  background: rgba(13, 133, 55, 0.7);
}

.usps .usp h3 {
  margin: 0;
}

.usps .usp:last-child {
  margin-right: 0;
}

.usps .usp-icon {
  margin-right: 10px;
}

@media only screen and (min-width: 992px) {
  .usps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cards-wrapper {
  width: 100%;
  padding: 30px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.cards-wrapper .slider-control {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.cards-wrapper .slider-control .slider-arrows {
  width: 100%;
  pointer-events: none;
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow {
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 50px;
  background: #1d1f48;
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow.slider-arrow-left {
  margin-right: 15px;
  border-radius: 50px 0;
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow.slider-arrow-left .icon-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards-wrapper .slider-control .slider-arrows .slider-arrow.inactive {
  opacity: 0.8;
  pointer-events: none;
}

@media only screen and (min-width: 992px) {
  .cards-wrapper .slider-control .slider-arrows .slider-arrow {
    width: 75px;
  }
}

.cards-wrapper .slider-control .slider-arrows .icon-arrow {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 992px) {
  .cards-wrapper .slider-control .slider-arrows {
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .cards-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #eef1f6;
  }
}

.cards-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.cards-container .card {
  min-width: 100%;
  margin-right: 15px;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.cards-container .card:nth-child(odd) .card-body {
  color: #ffffff;
  background: #e30d13;
}

.cards-container .card:nth-child(odd) .card-body .link {
  color: #ffffff;
}

.cards-container .card:nth-child(odd) .card-body .link:after {
  background: #ffffff;
}

.cards-container .card:nth-child(even) .card-body {
  color: #000000;
  background: #ffffff;
}

.cards-container .card:nth-child(even) .card-body .link {
  color: #000000;
}

.cards-container .card:nth-child(even) .card-body .link:after {
  background: #000000;
}

@media only screen and (min-width: 992px) {
  .cards-container .card:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #d4d6df;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.cards-container .card:hover:before {
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
}

@media only screen and (min-width: 992px) {
  .cards-container .card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media only screen and (min-width: 992px) {
  .cards-container .card {
    min-width: calc((100% - 30px) / 3);
  }
}

.cards-container .card-image {
  width: 100%;
}

.cards-container .card-image img {
  width: 100%;
}

.cards-container .card-image .logo-in-card {
  width: auto;
  height: 40px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .cards-container .card-image {
    height: 255px;
  }
}

.cards-container .card-body {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cards-container .card-body .card-title {
  font-family: "DrukText-Super";
  font-size: 30px;
  line-height: 30px;
}

.cards-container .card-body .link {
  margin-top: auto;
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .cards-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

.row {
  background: #eef1f6;
}

.row:not(.row-no-color) {
  border-radius: 5px;
}

.row.row-no-color {
  background: transparent;
}

.info-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #ffffff;
}

.info-wrapper .versus-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.info-wrapper .title-wrapper {
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-wrapper .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row.second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
}

.info-wrapper .row .image img {
  width: 100%;
  border-radius: 5px;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row .image {
    width: 50%;
  }
}

.info-wrapper .row .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row .info {
    width: 50%;
  }
}

.info-wrapper .row .info:first-child .unordered-list {
  padding-right: 30px;
}

.info-wrapper .row .list-title,
.info-wrapper .row .intro,
.info-wrapper .row h3 {
  padding: 15px;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row .list-title,
  .info-wrapper .row .intro,
  .info-wrapper .row h3 {
    padding: 30px;
  }
}

.info-wrapper .row .unordered-list {
  padding: 15px;
  margin: 0;
  list-style-type: none;
}

.info-wrapper .row .unordered-list .list-item {
  padding-bottom: 10px;
}

.info-wrapper .row .unordered-list .list-item .usp-icon {
  margin-right: 10px;
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row .unordered-list {
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .info-wrapper .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

@media only screen and (min-width: 992px) {
  .info-wrapper {
    padding-top: 30px;
    margin-top: -120px;
    border-radius: 50px;
  }
}

.banner-with-form {
  margin-bottom: 55px;
  position: relative;
}

.banner-with-form .banner-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner-with-form .banner-wrapper .headings {
  position: absolute;
  top: 0;
}

@media only screen and (min-width: 992px) {
  .banner-with-form .banner-wrapper {
    min-height: 400px;
  }
}

.form-container {
  width: auto;
  margin: 0 auto;
}

.form-container {
  max-height: 110px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 5px;
  background: #eef1f6;
  overflow: hidden;
  -webkit-transform: translateY(55px);
          transform: translateY(55px);
  z-index: 1;
}

.form-container .submit-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.form-container .form-input {
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.form-container .form-input .input {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  border: 2px solid #d4d6df;
  border-radius: 0;
  font-size: 16px;
}

.form-container .form-input .input:hover, .form-container .form-input .input:active, .form-container .form-input .input:focus, .form-container .form-input .input:focus-visible {
  border: 2px solid #1d1f48;
  border-radius: 0;
  outline: 0;
}

.form-container .form-input .radio-button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-input .radio-button input {
  margin-right: 15px;
}

.form-container .radio-label {
  padding-bottom: 10px;
}

.form-container .team-name-input {
  display: none;
}

.form-container .buttons {
  margin-top: 15px;
  position: relative;
  font-weight: 700;
}

.form-container .submit-button {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
  background: #e30d13;
  cursor: pointer;
}

.form-container .sub-button {
  width: 100%;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #ffffff;
  background: #e30d13;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .form-container {
    min-width: 500px;
  }
}

.location-thb {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.location-thb .location-info {
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.location-thb .location-info h3,
.location-thb .location-info p {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .location-thb .location-info {
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .location-thb {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

footer {
  width: 100%;
  min-height: 70px;
  padding: 30px 0;
  background: #e30d13;
}

footer .footer-container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container img {
  max-width: 200px;
  padding: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  footer .footer-container img {
    margin-bottom: 0;
  }
}

footer .footer-container .footer-menu-items {
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  footer .footer-container .footer-menu-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

footer .footer-container .menu-item {
  margin: 15px;
  color: #ffffff;
}

footer .footer-container .menu-item:after {
  background: #ffffff;
}

@media only screen and (min-width: 992px) {
  footer .footer-container .menu-item {
    margin: 0 15px;
  }
}

.for-who-wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.for-who-wrapper .intro {
  max-width: 780px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-weight: 700;
}

.for-who-wrapper .row-for-who {
  max-width: 780px;
  padding: 10px 0;
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.for-who-wrapper .row-for-who:before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #1d1f48;
}

.for-who-wrapper .row-for-who:nth-child(even) {
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  border: 2px solid #1d1f48;
}

.for-who-wrapper .row-for-who:nth-child(even):before {
  right: 35px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.for-who-wrapper .row-for-who:nth-child(odd) {
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border: 2px solid #1d1f48;
}

.for-who-wrapper .row-for-who:nth-child(odd):before {
  left: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.for-who-wrapper .row-for-who .for-who-text {
  margin: 15px;
  margin-left: 30px;
}

.for-who-wrapper .symbol {
  width: 100px;
  margin: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for-who-wrapper .symbol .circle {
  width: 40px;
  height: 40px;
  border: #1d1f48 4px solid;
  border-radius: 40px;
}

.contact-person {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contact-person .contact-person-image {
  width: 100%;
  max-width: 400px;
}

.contact-person .contact-person-text {
  padding: 30px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media only screen and (min-width: 992px) {
  .contact-person .contact-person-text {
    padding: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

.contact-person .mail-to {
  font-weight: 700;
  text-decoration: none;
  color: #1d1f48;
}

@media only screen and (min-width: 992px) {
  .contact-person .mail-to {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .contact-person {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}
/*# sourceMappingURL=style.css.map */